@model int

<partial name="_BannerPartial">

    <div class="row mt-5 mb-5">

        <div class="col-3">



            @await Component.InvokeAsync("Quizes")
            @* <vc:quizes></vc:quizes>*@

        </div>






    </div>
